<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>search Project</title>
</head>
<body>
<div class = "search-bar-container">
  <app-search-bar class ="flex2"></app-search-bar>
</div>
<div class="result area container">
  <app-results-area></app-results-area>
</div>

<div>

</div>
</body>
</html>
